@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
    font-family: "Raleway";
    margin: 0;
    background-image: url(./images/backgroundImg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0rem 3rem 0 3rem;
    font-size: 1.2rem;
}

nav ul {
    margin: 0 0 0 auto;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5em;
}

nav a,
footer,
footer a {
    text-decoration: none;
    border-radius: 0.5em;
    padding: 0.5em;
    color: #FF0000;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover {
    background-color: rgba(99, 99, 99, 0.466);
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 12px;
}

.me {
    margin-left: 25%;
    display: block;
    width: 380px;
    height: 400px;
}

.about-me {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#about-box {

    padding: 0 3%;
    margin: 0 15%;
    color: white;
    text-align: center;
    border: 2px whitesmoke solid;
    box-sizing: border-box;

}

#info-box h3 {
    margin: 0 0 2% 0;
}

#info-box {
    margin: 3.3% 20%;
    padding: 2% 0;
    color: white;
    text-align: center;
    border: 2px whitesmoke solid;
    box-sizing: border-box;
}

#study a {
    text-decoration: none;
    color: rgb(255, 99, 71);
}

a:hover {
    background-color: rgba(99, 99, 99, 0.466);
}

.education {
    margin-top: 8%;
}

.formatter {
    padding: 0 25%;
}

.formatter+.formatter {
    margin-top: 3%;
}

.bar-wrapper {
    background-color: grey;
}

.js-bar {
    background-color: greenyellow;
    height: 24px;
    width: 85%;
}

.html-css-bar {
    background-color: greenyellow;
    height: 24px;
    width: 20%;
}

.english-bar {
    background-color: greenyellow;
    height: 24px;
    width: 65%;
}

.certificates {
    margin: 4.4% 3% 3.3% 3%;
}


.certificates img {
    float: left;
    width: 28%;
    padding: 5px;
}

.certificates h1 {
    color: #FF0000;
    text-align: center;

}

#events {
    padding-left: 9.5%
}